<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mock.manager.dao.ShopDao">
    <!--一旦数据插入成功，开启id自增长，避免病啊执行是数据id的错乱-->
    <!--#注意 表的字段值和values要一一对应 ， inser是一条语句，中间不能添加任何的注册-->
    <insert id="insertShop" useGeneratedKeys="true" keyColumn="shop_Id" keyProperty="shopId">
        insert into tab_shop(
        owner_id,area_id,shop_category_id,shop_name,shop_desc,shop_addr,shop_img,priority,advice,enable_status,create_time,last_modify_time)
        values (
        #{owner.userId},#{area.areaId},#{shopCategory.shopCategoryId},#{shopName},
        #{shopDesc},#{shopAddr},#{shopImg},#{priority},#{advice},#{enableStatus},#{createTime},#{lastModifyTime}
        );
    </insert>

        <!-- 进行修改的格式 <if test="xxx条件">xCoumn=#{model的属性名}</if>-->
    <update id="updateShop" parameterType="com.mock.manager.entry.Shop">
        update tab_shop
        <set>
            <if test="shopName != null">shop_name=#{shopName},</if>
            <if test="shopDesc != null">shop_desc=#{shopDesc},</if>
            <if test="shopAddr != null">shop_addr=#{shopAddr},</if>
            <if test="shopImg != null">shop_img=#{shopImg},</if>
            <if test="priority != null">priority=#{priority},</if>
            <if test="advice != null">advice=#{advice},</if>
            <if test="enableStatus != null">enable_status=#{enableStatus},</if>
            <if test="lastModifyTime != null">last_modify_time=#{lastModifyTime},</if>
            <if test="shopCategory != null">shop_category_id=#{shopCategory.shopCategoryId},</if>
            <if test="area != null">area_id=#{area.areaId},</if>
            <if test="owner != null">owner_id=#{owner.userId}</if>
        </set>
        where shop_id=#{shopId}
    </update>

    <!--// https://www.cnblogs.com/wxdestiny/p/9772412.html-->
    <resultMap id="quertShopInfoByIdShopMap" type="com.mock.manager.entry.Shop">
        <id property="shopId" column="shop_id"/>
        <result property="shopName" column="shop_name"/>
        <result property="shopAddr" column="shop_addr"/>
        <result property="shopImg" column="shop_img"/>
        <result property="priority" column="priority"/>
        <result property="phone" column="phone"/>
        <result property="advice" column="advice"/>
        <result property="enableStatus" column="enable_status"/>
        <result property="lastModifyTime" column="last_modify_time"/>
        <association property="area" column="area_id" javaType="com.mock.manager.entry.Area">
            <id  property="areaId" column="area_id"/>
            <result  property="areaName" column="area_name"/>
            <result  property="priority" column="priority"/>
            <result  property="createTime" column="create_time"/>
            <result  property="lastModifyTime" column="last_modify_time"/>
        </association>
        <association property="owner" column="owner_id" javaType="com.mock.manager.entry.PersonInfo">
            <id  property="userId" column="user_id"/>
            <result  property="name" column="name"/>
            <result  property="birthday" column="birthday"/>
            <result  property="createTime" column="create_time"/>
            <result  property="lastModifyTime" column="last_modify_time"/>
        </association>
        <association property="shopCategory" column="shop_category_id" javaType="com.mock.manager.entry.ShopCategory">
            <id  property="shopCategoryId" column="shop_category_id"/>
            <result  property="shopCategoryName" column="shop_category_name"/>
        </association>
    </resultMap>

    <select id="queryShopInfoById" resultMap="quertShopInfoByIdShopMap" parameterType="Integer">
      select s.shop_id,
             s.shop_name,
             s.shop_addr,
             s.shop_img,
             s.priority,
             s.phone,
             s.advice,
             s.enable_status,
             s.area_id,
             s.shop_category_id,
             a.area_id,
             a.area_name,
             a.create_time,
             a.last_modify_time,
             cc.shop_category_id,
             cc.shop_category_name,
             p.user_id,
             p.name,
             p.email
      from  tab_shop s,
      tab_area a,
      tab_persion_info p,
      tab_shop_category cc
      where  a.area_id = s.area_id and cc.shop_category_id = s.shop_category_id and p.user_id = s.owner_id and s.shop_id= #{shopId}
    </select>
</mapper>