<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mock.manager.dao.ShopDao">
    <!--一旦数据插入成功，开启id自增长，避免病啊执行是数据id的错乱-->
    <!--#注意 表的字段值和values要一一对应 ， inser是一条语句，中间不能添加任何的注册-->
    <insert id="insertShop" useGeneratedKeys="true" keyColumn="shop_Id" keyProperty="shopId">
        insert into tab_shop(
        owner_id,area_id,shop_category_id,shop_name,shop_desc,shop_addr,shop_img,priority,advice,enable_status,create_time,last_modify_time)
        values (
        #{owner.userId},#{area.areaId},#{shopCategory.shopCategoryId},#{shopName},
        #{shopDesc},#{shopAddr},#{shopImg},#{priority},#{advice},#{enableStatus},#{createTime},#{lastModifyTime}
        );
    </insert>

        <!-- 进行修改的格式 <if test="xxx条件">xCoumn=#{model的属性名}</if>-->
    <update id="updateShop" parameterType="com.mock.manager.entry.Shop">
        update tab_shop
        <set>
            <if test="shopName != null">shop_name=#{shopName},</if>
            <if test="shopDesc != null">shop_desc=#{shopDesc},</if>
            <if test="shopAddr != null">shop_addr=#{shopAddr},</if>
            <if test="shopImg != null">shop_img=#{shopImg},</if>
            <if test="priority != null">priority=#{priority},</if>
            <if test="advice != null">advice=#{advice},</if>
            <if test="enableStatus != null">enable_status=#{enableStatus},</if>
            <if test="lastModifyTime != null">last_modify_time=#{lastModifyTime},</if>
            <if test="shopCategory != null">shop_category_id=#{shopCategory.shopCategoryId},</if>
            <if test="area != null">area_id=#{area.areaId},</if>
            <if test="owner != null">owner_id=#{owner.userId}</if>
        </set>
        where shop_id=#{shopId}
    </update>

</mapper>