.row-shopauth {
    border: 1px solid #999;
    padding: .5rem;
    border-bottom: none;
}
.row-shopauth:last-child {
    border-bottom: 1px solid #999;
}
.shopauth-name {
    white-space: nowrap;
    overflow-x: scroll;
}
.shopauth-wrap a {
    margin-right: 1rem;
}