.row-usershopcheck {
    border: 1px solid #999;
    padding: .5rem;
    border-bottom: none;
}
.row-usershopcheck:last-child {
    border-bottom: 1px solid #999;
}
.usershopcheck-time {
    white-space: nowrap;
    overflow-x: scroll;
}