<?xmI version= "1.0" encoding= "UTF-8?>

<configuration scan= "true" scanPeriod= "60 seconds" debug= "false">

	<!--定义参数常量  -->
	<!-- TRACE<DEBUG <INFO <WARN< ERROR -->
	<!-- logger.trace("msg") logger.debug... -->
	<property name= "log.level" value= "debug" />
	<property name= "log.maxHistory" value= "30" />
	<property name= "log.filePath" value= "${catalina.base}/logs/webapps"/>
<!--	<property name= "log.pattern" value= "%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread]%-5level%logger{50}-%msg%n" />-->
	<pattern name= "log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level  %logger{50} - %msg%n"/>

	<!-- 控制台设置 -->

	<appender name= "consoleAppender" class= "ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> ${log.pattern}/info.log </pattern>
		</encoder>
	</appender>
	<!-- DEBUG -->
	<appender name= "debugAppender" class= "ch.qos.logback.core.rolling.RollingFileAppender">

		<!-- 文件路径 -->
		<file>${log.pattern}/debug.log</file>
		<rollingPolicy class= "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 文件名称 -->
			<fileNamePattern> ${log.filePath}/debug/debug.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!-- 文件保存最大历史数量 -->
			<maxHitory> ${log.maxHistory} </maxHitory>
		</rollingPolicy>
		<encoder>
			<pattern> ${log.pattern} </pattern>
		</encoder>
		<filter class= "ch.qos.logback.classic.filter.LevelFilter">
			<level> DEBUG </level>
			<onMatch> ACCEPT</onMatch>
			<onMismatch> DENY </onMismatch>
		</filter>
	</appender>

	<!-- Info -->
	<appender name= "infoAppender" class= "ch.qos.logback.core.rolling.RollingFileAppender">

		<!-- 文件路径 -->
		<file>${log.pattern}/info.log</file>
		<rollingPolicy class= "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 文件名称 -->
			<fileNamePattern> ${log.filePath}/info/info.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!-- 文件保存最大历史数量 -->
			<maxHitory> ${log.maxHistory} </maxHitory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern} </pattern>
		</encoder>
		<filter class= "ch.qos.logback.classic.filter.LevelFilter">
			<level> INFO </level>
			<onMatch> ACCEPT</onMatch>
			<onMismatch> DENY </onMismatch>
		</filter>
	</appender>

	<!-- Error -->
	<appender name= "errorAppender" class= "ch.qos.logback.core.rolling.RollingFileAppender">

		<!-- 文件路径 -->
		<file>${log.pattern}/error.log</file>
		<rollingPolicy class= "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 文件名称 -->
			<fileNamePattern> ${log.filePath}/error/error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!-- 文件保存最大历史数量 -->
			<maxHitory> ${log.maxHistory} </maxHitory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern} </pattern>
		</encoder>
		<filter class= "ch.qos.logback.classic.filter.LevelFilter">
			<level> ERROR </level>
			<onMatch> ACCEPT</onMatch>
			<onMismatch> DENY </onMismatch>
		</filter>
	</appender>


	<logger name= "com.mock.manager" level= "${log.level}" additivity="true">

		<appender-ref ref= "debugAppender"/>
		<appender-ref ref= "infoAppender"/>
		<appender-ref ref= "errorAppender"/>
	</logger>

	<!--<root level= "INFO">  INFO要大写-->
	<root level= "INFO">
		<appender-ref ref= "consoleAppender"/>
	</root>

</configuration>

